/*
* Third Party
*/
@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../libs/fancybox/jquery.fancybox.css";

/*
* Custom
*/
@import "partials/app.scss";
@import "partials/media.css";

.obout-us__img {
  position: absolute;
  border-radius: 50%;
  border: 5px solid #F1F0EC;
  width: 168px;
  height: 168px;
  overflow: hidden;
  left: 50%;
  margin-left: -$width-img/2 ;
}
.obout-us__img_yellow {
  background-color: #FED136;
}
.obout-us__text-left {
  width: 50%;
  float: left;
  height: 270px;
}
.b-obout-us-text {
  color: #fff;
}
.b-about-item {
  width: 430px;
  float: right;
  text-align: right;
  border-right: 2px solid #F1F1F1;
  padding-right: 130px;
  height: 270px;
}
.obout-us__text-right {
  width: 50%;
  float: right;
  height: 270px;
}
.b-about-item_right {
  width: 430px;
  float: left;
  text-align: left;
  border-left: 2px solid #F1F1F1;
  padding-left: 130px;
  height: 270px;
}
.obout-us_pustoi {
  width: 100%;
  height: 150px;
}
.b-amazing {
  display: inline-block;
  width: 200px;
  height: 300px;
  background-color: yellow;
}
.b-amazing__circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #000000;
}
.b-icon_black {
  height: 40px;
  width: 40px;
  background: url('../../img/icon_set2.png');
  display: inline-block;
}
.b-amazing__icon :nth-child(2){
  background: url('../../img/icon_set2.png') 289px 0px;
}
.b-amazing__icon :nth-child(3){
  background: url('../../img/icon_set2.png') 248px 0;
}
.b-img-sponsors {
  width: 197px;
  height: 47px;
  display: inline-block;
}
.b-content__sponsors :nth-child(1) {
  background:url('../../img/icon_set.png') -13px 47px;
}
.b-content__sponsors :nth-child(2) {
  background:url('../../img/icon_set.png') -217px 48px;
}
.b-content__sponsors :nth-child(3) {
  background:url('../../img/icon_set.png') -578px 48px;
}
.b-content__sponsors :nth-child(4) {
  background:url('../../img/icon_set.png') -578px 48px;
}

