$main-font-family: Arial;
$main-text-color: #ffffff;
$color-text-h1: #242424;
$color-text-description: #828282;
$backgraund-color1: #ffffff;
$background-color2: #F7F7F7;
$h1-size: 40px;
$width-img: 168px;

@mixin h1-styles {
  font-size: $h1-size;
  color: $color-text-h1;
  text-transform: uppercase;
}
h1{ @include h1-styles; }
.b-header {
  height: 700px;
  background: url('../../img/header-bg.png'),
              url('../../img/background.jpg') top center no-repeat; 
  padding: 44px 0 0 0;
}
.b-header__greating {
  width: 100%;
  margin: 200px 0;
  text-align: center;
}
.b-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.b-menu__item {
    display: inline-block;
    padding-right: 37px;
}
.b-memu-a {
  color: $main-text-color;
  text-transform: uppercase;
  font-family: $main-font-family;
  &:hover{
    color: $main-text-color;
  }
}
.b-h1 {
  color: $main-text-color;
  font-family: $main-font-family;
  font-size: $h1-size;
  margin: 0;
  font-weight: bold;
}
.b-h1_greating{
  font-size: 40px;
  font-weight: normal;
}
.b-h1_big {
  font-size: 75px;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 40px;
}
.b-h1_black{
  color: $color-text-h1;
}
.b-button {
  color: $main-text-color;
  background: #FED136;
  padding: 16px 0;
  border-radius: 2px;
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
  font-size: 24px;
}
.b-button:hover{
  color: $main-text-color;
  text-decoration: none;
}
.b-button__text {
  font-family: $main-font-family;
  text-transform: uppercase;
  font-weight: bold;
}
.b-content {
  padding: 100px 0;
  text-align: center;
}
.b-content_black {
  background: #222222 url('../../img/footer_map.png')  right top no-repeat;
}
.b-content_grey {
  background-color: $background-color2;
}
.b-block_sponsors {
  padding: 60px 0;
}
.b-content-item {
  width: 300px;
  margin: 0 auto;
}
.b-content-item__bh3 {
  margin: 22px 0 14px 0;
}
.b-content__services {
  padding-bottom: 9px;
}
.b-content__text {
  padding: 0 0 70px 0;
}
.b-icon {
  height: 73px;
  width: 73px;
  display: block;
  background: url('../../img/icon_set3.png');
  margin: 0 auto;
}
.b-text {
  color: #828282;
  display: block;
  font-size: 16px;
  font-family: times;
}
.b-text-news{
  font-size: 14px;
  color: #737373;
}
.b-text_span {
  font-size: 18px;
}
.b-h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.b-a {
  color: #353535;
  font-size: 18px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #353535;
  }
}
.b-news-item {
  width: 25%;
  background-color: #fff;
  display: inline-block;
  margin: 40px 2% 0 2%;
}
.b-news-item__img {
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: relative;
}
.b-news-item__h3 {
  padding-top: 30px;
}
.b-news-item__text {
  padding-bottom: 30px;
  width: 100%;
}
.obout-us__img {
  position: absolute;
  border-radius: 50%;
  border: 5px solid #F1F0EC;
  width: 168px;
  height: 168px;
  overflow: hidden;
  left: 50%;
  margin-left: -$width-img/2 ;
}
.obout-us__img_yellow {
  background-color: #FED136;
}
.obout-us__text-left {
  width: 50%;
  float: left;
  height: 270px;
}
.b-obout-us-text {
  color: #fff;
  display: block;
  padding: 26px;
  font-size: 25px;
}
.b-about-item {
  width: 430px;
  float: right;
  text-align: right;
  border-right: 2px solid #F1F1F1;
  padding-right: 130px;
  height: 270px;
}
.obout-us__text-right {
  width: 50%;
  float: right;
  height: 270px;
}
.b-about-item_right {
  width: 430px;
  float: left;
  text-align: left;
  border-left: 2px solid #F1F1F1;
  padding-left: 130px;
  height: 270px;
}
.obout-us_pustoi {
  width: 100%;
  height: 150px;
}
.b-amazing {
  display: inline-block;
  width: 200px;
  height: 300px;
}
.b-amazing__circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #000000;
}
.b-icon_black {
  height: 40px;
  width: 40px;
  background: url('../../img/icon_set2.png');
  display: inline-block;
}
.b-amazing__icon :nth-child(2){
  background: url('../../img/icon_set2.png') 289px 0px;
}
.b-amazing__icon :nth-child(3){
  background: url('../../img/icon_set2.png') 248px 0;
}
.b-img-plugin{
  position: absolute;
}
.b-img-sponsors {
  width: 197px;
  height: 47px;
  display: inline-block;
}
.b-content__sponsors :nth-child(1) {
  background:url('../../img/icon_set.png') -13px 47px;
}
.b-content__sponsors :nth-child(2) {
  background:url('../../img/icon_set.png') -217px 48px;
}
.b-content__sponsors :nth-child(3) {
  background:url('../../img/icon_set.png') -578px 48px;
}
.b-content__sponsors :nth-child(4) {
  background:url('../../img/icon_set.png') -578px 48px;
}
.b-contact-form {
  width: 940px;
  height: 300px;
}
.b-contact-form {
  margin: 0 auto;
}
.b-form__div-input {
  width: 50%;
  float: left;
  height: 210px;
  padding-right: 14px;
}

.b-form__div-textarea {
  width: 50%;
  float: left;
  overflow: hidden;
  padding-left: 14px;
  height: 210px;
}
.b-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  margin: 0 0 30px 0;
  color: #BBBBBB;
}
.b-form__div-input :last-child {
  margin: 0;
}
.b-textarea {
  width: 100%;
  border-radius: 4px;
  padding: 15px;
  height: 210px;
}
.b-input-submit {
  background-color: #FED136;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  width: 240px;
  height: 65px;
  font-size: 26px;
  border-radius: 3px;
  font-weight: bold;
}
.b-form__div-button {
  margin-top: 28px;
}
.b-icon_white {
  height: 41px;
  width: 41px;
  display: inline-block;
  background:url('../../img/icon_set2.png') -577px 41px;
  margin-right: 5px;
}
.b-footer__icon {
  padding: 20px 0;
}

.b-footer__icon :nth-child(2) {
  background:url('../../img/icon_set2.png') -617px 41px;
}
.b-footer__icon :nth-child(3) {
  background:url('../../img/icon_set2.png') -535px 41px;
}
.b-footer__icon :nth-child(4) {
  background:url('../../img/icon_set2.png') -495px 41px;
}
.b-footer__copyright {
  padding: 27px 0 27px 84px;
}
.b-text_footer {
  font-size: 14px;
}

